<% layout("/layouts/boilerplate.ejs")%>

<body>
   <h1 style="text-align: center; color: darkblue; text-decoration: underline;"> Your Appoinment Fix</h1>
   <div style="text-align: center; margin-top: 5rem; ">
   <p><b>Name: </b><%=patientval.name%></p>
   <p><b>age: </b><%=patientval.age%></p>
   <p><b>speciality: </b><%=patientval.speciality%></p>
   <p><b>Doctor Name: </b><%=dr.name%></p>
   <p><b>specialist: </b><%=dr.specialist%></p>
   <p><b>Date:</b><%=date%></p>
</div>
</body>